.wallet-modal {
  height: fit-content;

  background: #313131;
  border-radius: 16px;
  position: relative;

  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);

  display: flex;
  width: 350px;
  flex-direction: column;
  padding: 32px 40px;

  &:before {
    content: 'Connect a wallet';
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
  }

  &__item {
    margin: 0 0 8px 0;
    padding: 10px 16px;
    background: #20201D;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: background-color 0.1s ease-in-out 0s;
    position: relative;
    cursor: pointer;

    &:hover {
      background-color: rgba(32, 32, 29, 0.5);
    }

    &:first-child {
      margin-top: 32px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &__icon {
      width: 28px;
      height: 28px;
    }

    &__name {
      font-size: 14px;
      line-height: 18px;
      text-align: left;
      padding-left: 12px;
    }

    &__arrow {
      position: absolute;
      top: 16px;
      right: 16px;
    }
  }

  &__close {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
  }
}

.wallet-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(32, 32, 29, 0.8);
  backdrop-filter: blur(3px);
  z-index: 11;
}