@import "src/ui-kit/styles/vars";

.swiper {
  width: calc(100% - 100px);
  height: 295px;
  padding: 0 50px;
  user-select: none;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  align-items: flex-start;

  & > div {
    width: 100%;
    border-radius: 12px;
  }

  .twitter-tweet {
    margin-top: 0 !important;
    max-height: 247px;
    overflow: auto;
    border-radius: 12px;
  }
}

.swiper-pagination {
  .swiper-pagination-bullet {
    background: #ECECEC;

    &-active {
      background: #0070f3;
    }
  }
}

.swiper-button-prev,
.swiper-button-next {
  padding: 20px 10px;
  border-radius: 10px;
  background: $black;
  box-shadow: 0 0 10px 5px rgb(32 32 29 / 80%);
  color: $gradient-fallback;
}