.App {
    padding-top: 120px;
    min-height: 100vh;
    box-sizing: border-box;
    position: relative;

    &__container {
        width: 100%;
        color: #FFFFFF;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &--padded {
            padding-top: 160px;
        }
    }
}
