@import "../../ui-kit/styles/vars";

.instructions {
    padding: 24px;
    max-width: 400px;
    margin: 0 16px 24px 16px;
    width: calc(100% - 32px);
    box-sizing: border-box;

    background: $dark-gray;
    border-radius: 16px;
    color: #FFFFFF;
    position: relative;

    &__title {
        color: #F9D549;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
    }

    &__steps {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        padding-left: 16px;
        margin: 16px 0 0 0;
    }

    &__close {
        cursor: pointer;
        position: absolute;
        top: 16px;
        right: 16px;

        path {
            fill: $gray1;
        }
    }
}