.header {
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 0 16px 10px 16px;
    z-index: 1;
    top: 0;
    left: 0;
    background: rgb(32, 32, 33);
    mask-image: linear-gradient(to bottom, #000 calc(100% - 30px), transparent 100%);

    transition: mask-position 200ms, -webkit-mask-position 200ms;

    &__logo {
        position: absolute;
        left: 40px;
    }

    &__address {
        color: white;
        padding-left: 4px;

        &-container {
            margin-top: 10px;
            padding: 0 12px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        padding-right: 24px;
    }

    &__button {
        cursor: pointer;
        margin: 8px 0;
        background: #FFD1B5;
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        padding: 4px 16px;
        border-radius: 4px;
        text-align: center;
    }
}
