.header {
    position: fixed;
    top: 10px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 0 16px;
    z-index: 1;

    &--address {
        padding-left: 9px;

        &-container {
            padding: 0 12px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    &__buttons {
        display: flex;
        flex-direction: column;
    }

    &__button {
        cursor: pointer;
        margin: 10px 0;
        background: #FFD1B5;
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        padding: 4px 16px;
        border-radius: 4px;
        text-align: center;
    }
}
